@import "_cards"

.class-overlay
  @extend .card
  padding: 0
  top: 0
  left: 0
  height: 10%
  width: 10%
  margin-bottom: 0
  position: absolute
  background-color: $primary-color
  color: $primary-color-text
  text-align: center