#header
	h2= title
	#primary-nav
		button(data-nav='/').mdl-button.mdl-js-button.mdl-js-ripple-effect Home
		button(data-nav='/login').mdl-button.mdl-js-button.mdl-js-ripple-effect Login
		button(data-nav='/courses').mdl-button.mdl-js-button.mdl-js-ripple-effect Courses
		button(data-nav='/schedule').mdl-button.mdl-js-button.mdl-js-ripple-effect Schedules
