extends layout

block head
	link(rel='stylesheet', href='/stylesheets/inspire-tree.css')
	link(rel='stylesheet', href='/stylesheets/schedule.css')
	

	script(type="text/javascript" src='/javascripts/courses/inspire-tree-bundled.min.js')
	script(type="text/javascript" src='/javascripts/sidebar-control.js')
	script(type="text/javascript" src='/javascripts/schedule/schedule-controller.js')

block body
	include includes/sidebar
	.ui-layout-east
		button#save-btn(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", style={width: "45%", height: "40px", "margin-right": "2.5%", "margin-left": "2.5%"}) Save
		button#load-btn(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", style={width: "45%", height: "40px", "margin-right": "2.5%", "margin-left": "2.5%"}) Load

		p 
		h4#get-started Select some courses to get started!
		#selected-courses

	#popup-style.hidden
		form(action="#")
			div#name-input-cont(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
				input(class="mdl-textfield__input" type="text" id="name-input")
				label(class="mdl-textfield__label", for="name-input") Schedule Name
		button#final-save-btn(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect") Save
		button#cancel-btn(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect") Cancel

block center
	table(style="position: relative;")
		tr
			each val2 in ["", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
				- val2 != "" ? val3 = val2.substring(0,3) : val3 = "";
				th(id=val3)= val2
		- for (var i = 6; i <= 19; i++) 
			tr(id=(i < 10 ? "0"+i : i))
				each val2 in [1, 2, 3, 4, 5, 6, 7, 8]
					if val2 == 1
						th= (i % 12 + 1 + ":00 " + (i > 10 ? "PM" : "AM"))
					else
						th

			