extends layout

block head
	link(rel='stylesheet', href='/stylesheets/inspire-tree.css')

	script(type="text/javascript" src='/javascripts/courses/inspire-tree-bundled.min.js')
	script(type="text/javascript" src='/javascripts/sidebar-control.js')
	script(type="text/javascript" src='/javascripts/schedule/schedule-controller.js')

block body
	.ui-layout-west
		.mdl-textfield.mdl-js-textfield#search-box
			input.mdl-textfield__input#search-box-input(type="text")
			label.mdl-textfield__label(for="search-box-input") Search...
		#courses-list

block center
	h5 TODO(Ben): Schedule UI